* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    margin: 0px;
  }

  header, footer {
    position: relative;
    display: block;
    background-color: rgb(22, 90, 22);
    width: auto;
    height: 30px;
    color: white;
    text-align: right;
    top: 0px;
  }

  a:link ,a:visited,a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  .spacing {
    margin: 20px 0 20px;
  }

  .header-element{
    position: relative;
    display: inline;
    margin: 0 5px;
    line-height: 30px;
  }

  #hd_1 {
    border-bottom: 10px solid #ddaf94;
  }

  #ft_1 {
    border-bottom: 10px solid #4F4847;
    text-align: center;
  }